<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<profiles>
		<profile>
			<id>br</id>
			<properties>
				<jdbc.url>jdbc:oracle:thin:@localhost:1521:xe</jdbc.url>
				<jdbc.username>br</jdbc.username>
				<jdbc.password>br</jdbc.password>
				<tomcat.server.host.port>localhost:8080</tomcat.server.host.port>
				<environment.type>dev</environment.type>
				<environment.name>Development</environment.name>
			</properties>
		</profile>
	</profiles>
	<activeProfiles>
		<activeProfile>br</activeProfile>
	</activeProfiles>
</settings>